@CHARSET "UTF-8";

body{
	font-size:12px;
	padding:0px;
	margin:0px
}

#mainContainer{
	margin:0 auto;
}

#appTitle{
	font-family:'Fondamento', cursive;
	font-size:27px
}

#appTitle #subtitle1{
	font-size:10px;
	font-style: italic;
	margin-left:15px;
}
#appTitle #subtitle2{
	font-size:12px;
}

#map_find_places{
	width:450px;
	height:500px;
}

#list_find_places
{
	width:300px;
	float: right;
	height:500px;
	overflow:auto;
}

#list_find_places ul
{
	list-style-type: none;
	padding-left: 0;
	margin:0;
}


#list_find_places ul li
{
	cursor: pointer;
/* 	font-size:10px */
}

#tabs{
	min-height: 600px;
	min-width:800px;
	height:100%;
	width:100%;
	margin: 0px;
	border-style:none;
	padding:0px
}

.place_highlight
{
	background:#CCCCCC
}

.placeDetails{
	font-size:10px;
	color:#666666;
}

.ui-progressbar-value { background-image: url(../img/pbar-ani.gif); }
.noTitle .ui-dialog-titlebar{display:none}

#button_save_edit{
	float: right;
}

.changesetButton{
	float: right;
}

#radio_find_mode{
	float:right
}

.dirtyTags{
	font-size:10px;
	font-style:italic;
	color:red;
}

#query{
	width:300px
}

.name_edit{
	width:250px
}

#tabNavButtons a,#tabNavButtons span{
	margin:3px;
}

#linkOsmObject{
	font-size:85%
}